In [13]:
d = [1, 3, 7]
d[2] = 11
print(d)

[1, 3, 11]

# Title
some stuf

## First point 

code example 
```
x = 3
```

In [14]:
d

[1, 3, 11]

In [15]:
dir()

['In',
 'Out',
 '_',
 '_11',
 '_14',
 '_4',
 '_5',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'd',
 'exit',
 'get_ipython',
 'quit']

In [16]:
ls

 Volume in drive D is New Volume
 Volume Serial Number is 2CF0-A63D

 Directory of D:\Python uploads\TrainingGames\MontyHallProblem

17.10.2022 Ј.  15:17    <DIR>          .
17.10.2022 Ј.  15:17    <DIR>          ..
17.10.2022 Ј.  13:37    <DIR>          .idea
17.10.2022 Ј.  13:35    <DIR>          .ipynb_checkpoints
16.10.2022 Ј.  18:13             1я511 main.py
17.10.2022 Ј.  15:17             2я752 TrainingData.ipynb
16.10.2022 Ј.  14:16    <DIR>          venv
               2 File(s)          4я263 bytes
               5 Dir(s)  85я169я008я640 bytes free

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("jupiter_moons.csv")

In [19]:
df

,Unnamed: 0,Order[note 3],Label[note 4],Name,Pronunciation,Image,Abs.magn.,Diameter (km)[42][note 5],Mass(×1016 kg)[49][note 6],Semi-major axis(km)[47],Orbital period (d)[47][note 7],Inclination(°)[47],Eccentricity[42],Discovery year[19],Discoverer[19],Group[note 8]
0,0,1,XVI,Metis,/ˈmiːtəs/,NaN,10.5,43(60 × 40 × 34),≈ 3.6,128000,+0.2948(+7h 04m 29s),0.060,0.0002,1979,Synnott(Voyager 1),Inner
1,1,2,XV,Adrastea,/ædrəˈstiːə/,NaN,12.0,16.4(20 × 16 × 14),≈ 0.20,129000,+0.2983(+7h 09m 30s),0.030,0.0015,1979,Jewitt(Voyager 2),Inner
2,2,3,V,Amalthea,/æməlˈθiːə/[50],NaN,7.1,167(250 × 146 × 128),208,181400,+0.4999(+11h 59m 53s),0.374,0.0032,1892,Barnard,Inner
3,3,4,XIV,Thebe,/ˈθiːbiː/,NaN,9.0,98.6(116 × 98 × 84),≈ 43,221900,+0.6761(+16h 13m 35s),1.076,0.0175,1979,Synnott(Voyager 1),Inner
4,4,5,I,Io♠,/ˈaɪoʊ/,NaN,−1.7,3643.2(3660 × 3637 × 3631),8931900,421800,+1.7627,0.050[51],0.0041,1610,Galileo,Galilean
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,75,76,XLI,Aoede‡,/eɪˈiːdiː/,NaN,15.6,4,≈ 0.0034,23778200,−761.46,155.7,0.4360,2003,Sheppard et al.,Pasiphae
76,76,77,XXVIII,Autonoe‡,/ɔːˈtɒnoʊiː/,NaN,15.5,4,≈ 0.0034,23792500,−761.00,150.8,0.3300,2001,Sheppard et al.,Pasiphae
77,77,78,XVII,Callirrhoe‡,/kəˈlɪroʊiː/,NaN,13.9,9.6,≈ 0.046,23795500,−758.86,145.1,0.2970,1999,Scotti et al.,Pasiphae
78,78,79,NaN,S/2003 J 23‡,NaN,NaN,16.6,2,≈ 0.00042,23829300,−760.00,144.7,0.3130,2003,Sheppard et al.,Pasiphae
79,79,80,XLIX,Kore‡,/ˈkɔːriː/,NaN,16.6,2,≈ 0.00042,24205200,−776.76,141.5,0.3280,2003,Sheppard et al.,Pasiphae

In [24]:
dir()

['In',
 'Out',
 '_',
 '_11',
 '_14',
 '_15',
 '_19',
 '_20',
 '_21',
 '_22',
 '_23',
 '_4',
 '_5',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'd',
 'df',
 'exit',
 'get_ipython',
 'pd',
 'quit']